<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Adoption Details - Little Angels</title>
	<link rel="stylesheet" type="text/css" href="/css/style-details.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/"><img src="/images/logo.png" width="170px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><input type="search" id="search" placeholder="Search"></li>    
                    <li class="underline"><a href="/adoption/">Adoption</a>
                        <div class="sub-menu-2">
                            <ul>
                                <li><a href="/adoption/create-post">New Post</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="underline"><a href="/vets">Vets</a></li>
                    <li class="underline"><a href="/food_grocery">Food & Grocery</a></li>
                    <li class="underline"><a href="/happy_moments">Happy Moments</a></li>
                    <li class="underline"><a href="/emergency">Emergency Links</a></li>
                    <li class="underline"><a href="">Account</a>
                        <div class="sub-menu">
                            <ul>
                                <li id="login"><a href="/login">Login</a></li>
                                <li id="register"><a href="/register">Register</a></li>
                                <li id="profile"><a href="/profile">Profile</a></li>
                                <li id="logout"><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <img src="../images/menu.png" class="menu-icon" onclick="menuToggle()">
        </div> 
    </div>
    <div class="boss">
        <div class="blog-post">
            <div class="blog-post-img">
                <img src="/images/ado-1.jpg">
            </div>
            <div class="blog-post-info">
                <div class="blog-post-date">
                    <span><%= data.Name %></span>
                    <span><%= data.Year %></span>
                </div>
                <h1 class="blog-post-title"> <%= data.Title %></h1>
                <p class="blog-post-text"> <%= data.Post %> </p>
                <textarea id="edit"></textarea>
                <a href="#" class="blog-post-cta bt" onclick="editText()" id="toggle">Edit</a>
                <a href="" class="blog-post-cta" id="delete" onclick="delPost()">Delete</a>
            </div>
        </div>
    </div>

<!--footer-->
    
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        
        function menuToggle(){
            if(MenuItems.style.maxHeight == "0px"){
                MenuItems.style.maxHeight = "200px";
            }
            else{
                MenuItems.style.maxHeight = "0px";
            }
        }
        
        var textArea = document.getElementById("edit");
        var editButton = document.getElementById("toggle");
        var deleteButton = document.getElementById("delete");
        textArea.style.display = "none";

        function test(){
                if(this.status == 200){
                    window.location.replace('/');
                }
                
            }
        
        function editText(){
            if(editButton.innerHTML == "Edit"){
                editButton.style.backgroundColor = "#94d9b0";
                editButton.innerHTML = "Update";
                textArea.style.display = "block";
                deleteButton.style.display = "none";

                let url = document.URL;
            

                var data = {
                        id : url,     
                    };
                    const http = new XMLHttpRequest()
                    http.onload = test
                    http.open('POST', '/adoption/postdelete')
                    http.setRequestHeader('Content-type', 'application/json')
                    http.send(JSON.stringify(data))
            }
            else{
                textArea.style.display = "none";
                editButton.style.backgroundColor = "#034f84";
                editButton.innerHTML = "Edit";
                deleteButton.style.display = "inline-block";
            }
        }
        

        function delPost(){
            let url = document.URL;
            

            var data = {
                    id : url,     
                };
                const http = new XMLHttpRequest()
                http.onload = test
                http.open('POST', '/adoption/postdelete')
                http.setRequestHeader('Content-type', 'application/json')
                http.send(JSON.stringify(data))
        }

        if(document.cookie.indexOf("email") < 0){
            document.getElementById("logout").style.display = "none";
            document.getElementById("profile").style.display = "none";
        }else{
            document.getElementById("login").style.display = "none";
            document.getElementById("register").style.display = "none";
        }
    </script>
</body>
</html>